<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>杨青青个人博客</title>
    <meta http-equiv="Content-Type" content="text/html";charset="UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.5.1.min.js" ></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/moment.js" type="application/javascript"></script>

    <link href="css/new.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script >
        // $(document).ready(function(){
        //     var myNav = $("nav a"),i;
        //     for(i=0;i<myNav.length;i++){
        //         var links =myNav.eq(i).attr("href"),myURL =document.URL;
        //         if(myURL.indexOf(links) != -1) {
        //             myNav.eq(i).parent().addClass("current");
        //         }
        //     }
        // });
        //
        // $(function(){
        //     $("#like count").click(function(){
        //        alert(1234214)
        // });


            $(function(){
                $("#Lifeboat").click(function(){
                    var ins = document.getElementById("Lifeboat").innerHTML;
                    $.ajax({
                        url:"/log",//要请求的服务器url
                        data:{ins:ins},//第一个name对应的是后端request.getParameter("name")的name、第二个name对应的是此js中的var name = $("#name").val();的name
                        async:true,//是否是异步请求
                        cache:false,//是否缓存结果
                        type:"POST",//请求方式
                        dataType:"text",//服务器返回什么类型数据 text xml javascript json(javascript对象)
                        success:function(result){//函数会在服务器执行成功后执行，result就是服务器返回结果
                            //alert(result);
                            console.log(result);
                            // $("#re").html(result);
                        },
                        error:function(jqXHR, textStatus, errorThrown) {
                        }
                    });

                });
            });
    </script>
</head>
<body style="background-color: #8feeaf">
<header>
    <div class="touxiang"><i><img src="badges/logo.png" alt="杨青青"></i>
        <h2>小黑</h2>
        <p>一个00后大学生。</p>
    </div>
    <p class="guanzhu">关注我<img src="images/2.png" alt="杨青青个人微信号：476847113" class="weixin"></p>
    <nav>
        <ul>
            <li class="current"><a href="index.html">网站首页</a></li>
            <li><a href="/insert1">碎言碎语</a></li>
<!--            <li><a href="sysy.html">碎言碎语</a></li>-->
<!--            <li><a href="bkrj.html">博客日记</a></li>-->
<!--            <li><a href="wdxc.html">我的相册</a></li>-->
<!--            <li><a href="sjz.html">时间轴</a></li>-->
<!--            <li><a href="gybz.html">关于博主</a></li>-->
<!--            <li><a href="ly.html">留言</a></li>-->
        </ul>
    </nav>
</header>
<main>
    <article>
<!--        <div class="top_blog">-->
<!--            <ul class="blogs">-->
<!--                <li><a href="/" target="_blank"><i><img src="images/002.png" alt="标题图片"></i>-->
<!--                    <h2>忙碌是自由活着的一种底气</h2>-->
<!--                </a>-->
<!--                    <p class="blog_smalltext">从我选择从事前端工作开始，有的人总是把这个职业想象的太美好，但当真正从事了这份职业后才发现，高薪的背后其实有太多的心酸和付出，有些是你想都想不到的。</p>-->
<!--                    <p class="blog_info"><span>2020-03-29</span><span>杨青青</span><span><a href="/" target="_blank">博客人生</a></span><span>1399</span><span>1200</span></p>-->
<!--                </li>-->
<!--                <li><a href="/" target="_blank"><i><img src="images/003.jpg" alt="标题图片"></i>-->
<!--                    <h2>虽然闭关在家，但一刻也不想闲下来</h2>-->
<!--                </a>-->
<!--                    <p class="blog_smalltext">从疫情爆发到现在各个省市都开始陆续复工，我天天在家待着，除了带娃，我大部分时间还是在电脑前，甚至现在小朋友大部分时间也在电子产品上。从一月底到现在我一共设计了3套新模板.</p>-->
<!--                    <p class="blog_info"><span>2020-04-02</span><span>杨青青</span><span><a href="/" target="_blank">博客人生</a></span><span>1399</span><span>1200</span></p>-->
<!--                </li>-->

<!--                <li><a href="/" target="_blank"><i><img src="images/003.jpg" alt="标题图片"></i>-->
<!--                    <h2>虽然闭关在家，但一刻也不想闲下来</h2>-->
<!--                </a>-->
<!--                    <p class="blog_smalltext">从疫情爆发到现在各个省市都开始陆续复工，我天天在家待着，除了带娃，我大部分时间还是在电脑前，甚至现在小朋友大部分时间也在电子产品上。从一月底到现在我一共设计了3套新模板.</p>-->
<!--                    <p class="blog_info"><span>2020-04-02</span><span>杨青青</span><span><a href="/" target="_blank">博客人生</a></span><span>1399</span><span>1200</span></p>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;top_blog 置顶文章 end&ndash;&gt;-->

        <!--new_blog 最新文章 begin-->
        <div class="new_blog" th:each="bake : ${botanist.data}">
            <ul class="blogs" >
                <li>
                    <a href="/" target="_blank">
                        <i>
                            <img th:src="${bake.image}" alt="标题图片">
                        </i>
                        <h2>
                            <a th:href="@{'/boke/'+ ${bake.id}}" th:text="${bake.title}" style="color: #00c4ff"></a>
                        </h2>

<!--                        <h2 th:text="${bake.title}"></h2>-->
                    </a>
                    <!--                    <textarea style="display:none;" th:text="${bake.description}"></textarea>-->
                    <p class="blog_smalltext"  th:text="${bake.description}" id="teext">
                        <!--                        <span  th:text="${bake.description}"></span>-->
                        <!--                    <h2 th:text="${bake.description}"></h2>-->
                    </p>
                    <p   th:text="${bake.id}" id="txqt" class="hidden">
                    </p>
                    <p class="blog_info">
                    <div class="menu">
                        <span class="glyphicon glyphicon-time icon" th:text="${#dates.format(bake.time,'yyyy-MM-dd HH:mm')}" name="time"></span>
                        <span class="glyphicon glyphicon-user icon" th:text="${bake.name}" name="name"></span>
                        <span class="glyphicon glyphicon-list-alt icon" ><a href="/" target="_blank" >博客人生</a></span>

                        <span onclick="collapseComment(this)" class="comment-icon">
                             <span class="glyphicon  glyphicon-eye-open icon" id="lockout" name="lockout"></span>
                             <span th:text="${bake.lookcount}"  ></span>
                         </span>

                        <span  class="comment-icon" th:id="${'like-'+bake.id}">
                                 <span class="glyphicon glyphicon-heart icon" onclick="collapseLikes(this)"  th:data-id="${bake.id}" ></span>
                                 <span th:text="${bake.likecount}"  name="likecount" th:id="${'lk-'+bake.id}"></span>
                             </span>
                    <script>
                        function collapseLikes(e) {
                            var id = e.getAttribute("data-id");
                            var ins = document.getElementById("lk-"+id).innerHTML;
                            var a=document.getElementById("lk-"+id).var;
                            if (a==undefined){
                                ins++;
                                document.getElementById("lk-"+id).var=1;
                                $("#like-"+id).css("color","red");
                            }else  if(a==0){
                                ins++;
                                document.getElementById("lk-"+id).var=1;
                                $("#like-"+id).css("color","red");
                                //document.getElementById("like").css("color","green")
                            }else  if(a==1){
                                ins--;
                                document.getElementById("lk-"+id).var=0;
                                $("#like-"+id).css("color","#A4A4A4");
                            }

                            document.getElementById("lk-"+id).innerHTML=ins;
                            // var  ins1=document.getElementById("txqt").innerHTML;
                            var  ins1=id;
                            $.ajax({
                                url:"/l",//要请求的服务器url
                                data:{ins:ins,ins1:ins1},//第一个name对应的是后端request.getParameter("name")的name、第二个name对应的是此js中的var name = $("#name").val();的name
                                async:true,//是否是异步请求
                                cache:false,//是否缓存结果
                                type:"POST",//请求方式
                                dataType:"text",//服务器返回什么类型数据 text xml javascript json(javascript对象)
                                success:function(result){//函数会在服务器执行成功后执行，result就是服务器返回结果
                                    //alert(result);
                                    console.log(result);
                                    // $("#re").html(result);
                                },
                                error:function(jqXHR, textStatus, errorThrown) {
                                }
                            });
                        }



                    </script>

                </div>
                    </p>
                </li>
            </ul>
        </div>
        <!--new_blog 最新文章 end-->

    </article>
    <!--article end-->

    <aside>
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="xinqing">
            <h2 class="aside_title">最近心情</h2>
            <ul>
                <li><a href="/" target="_blank">阳光正好，趁现在还年轻，去做的你想做的，去追逐你的梦想。</a></li>
                <li><a href="/" target="_blank">不要完全依赖一个人，要学会自己独立行走，否则当你失去那个人的时候，你也失去了自我，无论是感情还是物质。</a></li>
                <li><a href="/" target="_blank">永远不要为尚未发生的事纠结，尽最大的努力，抱最坏的打算。但行好事，莫问前程。</a></li>
                <li><a href="/" target="_blank">努力是一种生活态度，与年龄无关。所以，无论什么时候，千万不可放纵自己，给自己找懒散和拖延的借口。</a></li>
                <li><a href="/" target="_blank">这个世界的改变不是一个人做了很多，而是大多数人做了一点点。正是因为大多数人做的这一点点，才让人间变得越来越温暖和值得。</a></li>
                <li><a href="/" target="_blank">不是每个人都能成为，自己想要的样子，但每个人，都可以努力，成为自己想要的样子。</a></li>
            </ul>
        </div>
        <div class="pics">
            <h2 class="aside_title">我的相册</h2>
            <ul>
                <li><a href="/" target="_blank"><img src="images/001.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/002.png"></a></li>
                <li><a href="/" target="_blank"><img src="images/003.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/004.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/005.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/006.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/002.png"></a></li>
                <li><a href="/" target="_blank"><img src="images/003.jpg"></a></li>
                <li><a href="/" target="_blank"><img src="images/004.jpg"></a></li>
            </ul>
        </div>
        <div class="paihang">
            <h2 class="aside_title">点击排行</h2>
            <ol start="1">
                <li><a href="/" target="_blank">每个人的生命里都一定会有这么一个人，他告诉我们什么是爱</a></li>
                <li><a href="/" target="_blank">人生就是越努力越幸运！</a></li>
                <li><a href="/" target="_blank">『旅行游记』假如你厌倦了现状,那就去云南吧</a></li>
                <li><a href="/" target="_blank">追梦路上邂逅爱情,他们携手改写平凡人生!</a></li>
                <li><a href="/" target="_blank">遇见你,是我平凡人生中最美的事情</a></li>
                <li><a href="/" target="_blank">2020:努力工作,向生活重新出发!</a></li>
                <li><a href="/" target="_blank">因为爱情,让这座城市无可替代</a></li>
                <li><a href="/" target="_blank">世界上最永恒的幸福就是平凡，人生中最长久的拥有就是珍惜。</a></li>
                <li><a href="/" target="_blank">旅行的意义是什么?这是我见过最美的答案</a></li>
                <li><a href="/" target="_blank">因为旅行，可以为平凡的生活加点料，挽救日渐枯萎的心。</a></li>
            </ol>
        </div>
        <div class="links">
            <h2 class="aside_title"><span><a href="/" target="_blank">申请</a></span>友情链接</h2>
            <ul>
                <li><a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></li>
                <li><a href="/" target="_blank">搜图片</a></li>
                <li><a href="/" target="_blank">今夕何夕模板</a></li>
                <li><a href="/" target="_blank">青于蓝门户网站</a></li>
            </ul>
        </div>
    </aside>
    <!--aside end-->
</main>
<footer>
    <p> © 2019-2020qingqingblog.com 版权所有：<a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></p>
    <p><span><a href="/" target="_blank">XML网站地图</a></span><span>备案号：<a href="/">津ICP备19004899</a></span><span><img src="images/ga.png">公安备案号 12011602000311</span></p>
    <p></p>
</footer>
<!--footer end-->



</body></html>